{% extends 'base.html' %}

{% block content %}
        <div class="index-container">
            <div class="main-tag-item">
                <p>pacs n pull</p>
            </div>
            <div class="link-button-item">
                <div class="link-button"  id="documentation_button"><a href="https://github.com/jacobmatthewmurray/pacsnpull">docs</a></div>
                <div class="link-button" id="pacsnpull_button"><a href="{{ url_for('dicomconnect.overview') }}">go</a></div>
            </div>
            <div  class="footer-item">
                about
            </div>
        </div>
{% endblock %}