{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Find{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <a href="{{ url_for('dicomconnect.overview') }}">Back to Overview</a>
        <button id="find_button">Find</button>
        <progress id="query_progress" value="0" max=""></progress>
        <button class="download_button" query-type="find">Download</button>
    </div>
    <p>Find Results:</p>
    <div id="find_results">
    <div id="query_results_table"></div>
    <div id="query_status_table"></div>
    </div>
{% endblock %}